body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.single-product-main {
  display: flex;
  flex-direction: column;
}

.single-product-pane {
  display: flex;
}

.warning {
  color: red;
}

.single-product-img,
.single-product-info {
  width: 40%;
}

.single-product-cart-div {
  width: 20%;
}

.single-user-main {
  display: flex;
  flex-direction: column;
}

.single-user-pane {
  display: flex;
}

.signup-form {
  position: relative;
  overflow: hidden;
  width: 700px;
  height: 500px;
  margin: 80px auto 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px;
}

.signup-label {
}

.signup-input {
}

.signup-submit {
}
