body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.single-product-main {
  display: flex;
  flex-direction: column;
}

.single-product-pane {
  display: flex;
}

.warning {
  color: red;
}

.single-product-img,
.single-product-info {
  width: 40%;
}

.single-product-cart-div {
  width: 20%;
}

.single-user-main {
  display: flex;
  flex-direction: column;
}

.single-user-pane {
  display: flex;
}
