html,
body,
#app,
#main {
  height: 100%;
  min-height: 100%;
}

body {
  font-family: sans-serif;
  background-color: #b4b8ab;
  color: #231f20;
  margin: 0px;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.single-product-main {
  display: flex;
  flex-direction: column;
  padding: 100px;
}

.single-product-pane {
  display: flex;
}

.warning {
  color: red;
}

.add-to-cart-div {
  border: 1px dashed #b4b8ab;
  background-color: cornsilk;
  padding: 30px;
  margin-top: 20px;
}

.single-product-img,
.single-product-info {
  width: 40%;
  padding-left: 50px;
}

.single-product-cart-div {
  width: 20%;
}

.add-to-cart-div > select {
  margin-right: 10px;
}

.add-to-cart-div > h3 {
  margin-top: 0px;
}

.single-product-pane > img {
  max-height: 300px;
  max-width: 300px;
  object-fit: contain;
}

.single-product-pane,
.single-product-description {
  background-color: #ebf5df;
  margin: 10px;
  border: 1px solid #231f20;
  padding: 50px;
}

.single-product-pane > h2,
.single-product-description > h2 {
  margin-top: 0px;
}

#header {
  display: flex;
  flex-direction: column;
  background-color: #dd9f23;
  margin: 0px;
}

#header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header-buttons {
  display: flex;
  width: 30%;
  justify-content: space-around;
  align-items: center;
  background-color: #ebf5df;
  margin-right: 10px;
  border: 1px solid #231f20;
}

#header-buttons > button {
  width: 40%;
  background-color: #231f20;
  color: white;
  border: 2px solid white;
  height: 30px;
}

#header-buttons > button:hover {
  background-color: #383b53;
}

#header-buttons img {
  height: 50px;
}

#logo-div {
  margin: 5px;
}

#logo-div img {
  height: 100px;
  border: 3px solid #231f20;
  box-shadow: 3px 3px #383b53;
}

#navbar {
  display: flex;
  background-color: #231f20;
  justify-content: space-around;
  height: 50px;
  align-items: center;
}

#navbar a {
  color: white;
  padding: 16px;
  width: 100%;
  text-align: center;
}

#navbar a:hover {
  background-color: #383b53;
}

#login-div {
  border: 1px solid black;
  background-color: white;
  z-index: 50;
  position: absolute;
  align-self: center;
}

.close-form {
  background-color: red;
  z-index: 99;
  position: absolute;
}

.cart-item {
  display: flex;
  border: 1px solid black;
  background-color: #ebf5df;
  height: 270px;
  justify-content: space-around;
  align-items: center;
}

.cart-item:hover {
  background-color: cornsilk;
}

.cart-item div {
  width: 30%;
}

.cart-img-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#filter-container {
  border: 1px solid black;
  background-color: white;
  padding: 10px;
  z-index: 40;
  width: 100%;
}

#category-filters {
  display: flex;
  flex-direction: column;
}

.filter-check {
  display: flex;
}

#cart-container {
  display: flex;
  min-height: 100%;
  overflow: visible;
}

#cart-items-div {
  flex-grow: 2;
}

#order-total-div {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 10px;
  flex-grow: 1;
  background-color: #383b53;
  color: white;
  min-height: 100%;
}

#checkout-btn {
  width: 200px;
  height: 50px;
  font-size: large;
  background-color: #dd9f23;
  border: 2px solid #231f20;
}

#checkout-btn:hover {
  background-color: cornsilk;
}

.single-user-box {
  margin: 2vh 20vw;
  height: fit-content;
  background-color: #dd9f23;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.single-user-box-details {
  display: flex;
  align-items: center;
  width: 30vw;
  color: #383b53;
}

.single-user-img-box {
  margin: 0px 30px;
  height: fit-content;
  width: fit-content;
}

.single-user-img-box img {
  height: 100px;
  width: 100px;
  background-color: white;
}

.single-user-info-box {
  margin: 0px 30px;
}

.no-admin-priv {
  color: #ebf5df;
}

.single-user-box-buttons {
  display: flex;
  flex-direction: column;
}

.single-user-main {
  display: flex;
  flex-direction: column;
}

.single-user-pane {
  display: flex;
}

#confirmation-container {
  display: flex;
  justify-content: center;
  padding: 100px;
}

#confirmation-box {
  background-color: #c5e3cf;
  border: 1px solid #50ad6f;
  color: #50ad6f;
  width: 70%;
  padding: 20px;
  min-height: 200px;
}

#dropdown-container {
  position: relative;
  display: inline-block;
}

#dropdown-content {
  display: none;
  position: absolute;
  background-color: lightgrey;
  min-width: 100px;
  z-index: 1;
}

#dropdown-content a {
  color: black;
  font: 4px;
  text-decoration: none;
  display: block;
  padding: 2px;
}

#dropdown-content a:hover {
  background-color: white;
}
#dropdown-container:hover #dropdown-content {
  display: block;
}
#dropdown-container:hover #dropdown-btn {
  background-color: grey;
}

#all-products-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.product-box-container {
  border: 1px solid gray;
  background-color: #ebf5df;
  box-shadow: 5px 5px #495535;
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  width: 400px;
  transition: all 0.5s;
}

.product-box-container:hover {
  background-color: white;
}

.product-box-image-div {
  display: flex;
  justify-content: center;
  height: 250px;
  width: 400px;
}

.product-box-image-div > img {
  max-height: 250px;
  max-width: 250px;
  object-fit: contain;
}

.cart-img-div > img {
  max-height: 250px;
  max-width: 250px;
  object-fit: contain;
}

#purchases-container {
  border: 1px solid black;
}
#purchase-container {
  display: flex;
  background-color: lightgray;
  height: 270px;
  justify-content: space-around;
  align-items: center;
}

#purchase-container > img {
  max-height: 250px;
  max-width: 250px;
  object-fit: contain;
}

#purchase-info {
  width: 30%;
}

#order-history-container {
  display: flex;
  flex-direction: column;
}

#search-bar-container {
  display: flex;
  align-items: center;
  padding: 15px;
  padding-bottom: 0;
}

#page-title {
  width: 70%;
}

#search-container {
  width: 30%;
  justify-content: flex-end;
}

#order-filter-container {
  display: flex;
  align-items: center;
}

#order-filter-container > p {
  padding: 15px;
}

#order-details {
  display: flex;
  border-bottom: 1px solid black;
}

#date-container {
  padding: 15px;
  width: 70%;
  display: flex;
  align-items: center;
}

#date-container p {
  padding: 10px;
  border: 0;
}

#id-container {
  padding: 15px;
  width: 50%;
  align-items: center;
  display: flex;
}
